@import '_normalize';

$gray1: #f5f5f5;
$gray2: #e2e2e2;
$gray3: #c7c7c7;
$gray4: #a7a7a7;
$gray5: #868686;
$gray6: #666666;
$gray7: #4a4a4a;
$gray8: #323232;
$gray9: #202020;

$charcoal: #404040;

$text-black: $charcoal;
$text-gray: $gray5;

$blue-logo: #22A7F0;
$blue-main: $blue-logo;
$teal: #1ed6cd;
$neon: #cae52e;



body, html {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: $charcoal;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

ol {
    li {
        list-style: decimal;
    }
}

a, a:visited {
    color: $blue-main;
    text-decoration: none;
}

hr {
    margin: 0;
    border: none;
    border-top:1px solid $gray2;

    & + .section {
        margin-top: 48px;
    }
}

h1, #search-results h2 {
    font-weight: normal;
    font-size: 40px;
    margin: 16px 0 24px;
    line-height: 1.4;
}

h2 {
    font-weight: normal;
    font-size: 26px;
    margin: 12px 0;

    .docutils.literal {
        font-size: inherit !important;
        background: none !important;
    }
}

h3, h4 {
    font-size: 18px;
    margin: 24px 0 12px;

    .docutils.literal {
        font-size: inherit !important;
        background: none !important;
    }
}

img {
    max-width: 100%;
}
.wy-grid-for-nav {
    width: 100%;
    min-height: 100%;
    display: flex;
    font-size: 14px;

    .wy-nav-side {
        background: $gray1;
        width: 320px;
        border-right: 1px solid $gray2;

        min-width: 240px;
    }
}

.icon-home {
    text-align: center;
    display: block;
    text-align: center;
    padding: 24px 0 8px;

    outline: none;
    img {
        height: 80px;
    }
}

.wy-side-nav-search {
    padding: 0 16px 24px 16px;
}
#rtd-search-form {
    position: relative;
    input {
        width: 100%;
        margin: 0;
        padding: 0 0 0 32px;
        height: 32px;
        border: 1px solid $gray3;
        outline: none;
    }

    &:after, &:before {
        content: "";
        position: absolute;
    }

    &:before {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid $gray3;
        top: 6px;
        left: 10px;
        transform: scale(.9);
    }

    &:after {
        width: 3px;
        height: 8px;
        background: $gray3;
        transform: scale(.8) rotate(45deg);
        top: 17px;
        left: 9px;
    }
}

.wy-menu-vertical {
    padding: 0 8px;

    font-size: 16px;
    line-height: 1.2;
    a {
        color: $gray6;

        &:hover {
            color: $blue-main;
        }
    }

    li {
        padding: 8px 0 8px 16px;
    }

    a.current.internal {

        color: $blue-main;
    }

    a + ul {
        padding-top: 8px;
    }

    .toctree-l2 {
        font-size: 14px;
    }

    .toctree-l3 {
        font-size: 14px;
    }
    .toctree-l4 {
        font-size: 13px;
        li {
            padding-left: 0;
        }
    }

    .toctree-l1, .toctree-l2 {
        & > a > .toctree-expand {
            display: inline-block;
            position: relative;

            &:after {
                border: 4px solid transparent;
                border-top-color: $gray4;
                position: absolute;
                bottom: -1px;
                left: -14px;
                content: "";
            }
        }

    }



}

.wy-nav-content-wrap {
    flex-grow: 1;
    min-width: 640px;
    max-width: 960px;
    padding: 0 32px;
}

.wy-nav-top {
    display: none;
}

.wy-breadcrumbs {
    padding-top: 12px;
    a {
        color: $gray5;

        &:hover {
            color: $blue-main;
        }
    }
    li {
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        padding: 16px 12px;
        margin-right: 16px;
        position: relative;

        &:last-child {
            color: $blue-main;
            border-bottom: 3px solid $blue-main;
            &:before, &:after {
                display: none;
            }
        }

        &:before, &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: $gray4;
        }

        &:before {
            transform: rotate(45deg) scale(.6);
            left: auto;
            right: -12px;
            top: 21px;
        }

        &:after {
            transform: rotate(-45deg) scale(.6);
            left: auto;
            right: -12px;
            top: 16px;
        }
    }
}

.headerlink {
    display: none;
}

.document {
    padding: 52px 32px 32px 32px;
    font-size: 15px;

    p {
        line-height: 1.8;
    }

    .docutils.literal {
        background: $gray1;
        padding:  .1em .3em;
        border-radius: 1px;
        font-size: 14px;
    }

    pre {
        background: $gray1;
        border-radius: 1px;
        padding: 8px 16px;
        font-size: 13px;
        margin: 8px 0 16px;
    }

    td, th {
        padding: 6px 8px;
        font-size: 13px;
        border-color: $gray3;
    }

    table {
        border: $gray4;
    }

    th {
        background: $gray1;
    }
}

.toctree-wrapper {

    .toctree-l1 {

        & > a {
            font-size: 24px;
            display: inline-block;
            margin-bottom: 8px;
            padding-left: 24px;

            position: relative;

            &:before {
                content: "";
                height: 12px;
                width: 8px;
                position: absolute;
                border: 2px solid $gray4;
                left: 0;
                top: 10px;
            }

            &:after {
                content: "";
                position: absolute;
                border: 3px solid $gray4;
                left: 6px;
                top: 10px;
                border-top-color: white;
                border-right-color: white;
            }

            &:hover {
                &:after {
                    border-bottom-color: $blue-main;
                    border-left-color: $blue-main;
                }

                &:before {
                    border-color: $blue-main;
                }
            }
        }

        margin: 32px 0;
    }

    .toctree-l2 {

        a {
            display: inline-block;
            padding: 8px 8px 8px 24px;
            position: relative;
            color: $blue-main;

            &:after {
                height: 5px;
                width: 5px;
                content: "";
                background: $gray4;
                position: absolute;
                border-radius: 50%;

                top: 17px;
                left: 4px;
            }


        }

    }

    a {
        color: inherit;

        &:hover {
            color: $blue-main !important;
        }
    }
}

footer {

    & > div:last-child {
        font-size: 12px;
        color: $gray4;
        text-align: center;
        padding: 8px;
    }

}

p + .section {
    margin-top: 48px;
}

.section {
    margin-bottom: 48px;
}

.rst-footer-buttons {
    padding-bottom: 8px;
    position: relative;

    &:after {
        content:"";
        display: block;
        clear: both;
    }
    a.btn {
        color: $gray5;
        font-size: 16px;
        display: inline-block;
        padding: 12px 12px 12px 32px;
        position: relative;

        &.float-right {
            padding: 12px 32px 12px 12px;
            float: right;
            &:before {
                transform: rotate(45deg) scale(.8);
                left: auto;
                right: 16px;
                top: 20px;
            }

            &:after {
                transform: rotate(-45deg) scale(.8);
                left: auto;
                right: 16px;
                top: 14px;
            }
        }

        &:before, &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;
            background: $gray4;
        }

        &:before {
            transform: rotate(-45deg) scale(.8);
            left: 16px;
            top: 20px;
        }

        &:after {
            transform: rotate(45deg) scale(.8);
            left: 16px;
            top: 14px;
        }

        &:hover {
            color: $blue-main;
            &:after, &:before {
                background: $blue-main;
            }
        }
    }
}

.simple {
    li {
        padding: 8px 8px 8px 24px;
        position: relative;

        &:after {
            height: 5px;
            width: 5px;
            content: "";
            border-radius: 50%;
            background: $gray4;
            position: absolute;
            top: 17px;
            left: 9px;
        }
    }
    margin-bottom: 32px;
}

.version {
    text-align: center;
    color: $gray4;
    padding: 0 0 8px 0;
    font-size: 13px;
}

.highlight-default + .section {
    margin-top: 48px;
}

.search {
    li {
        padding: 24px 0;
        font-size: 14px;
        line-height: 1.4;
        a {
            font-size: 24px;
            display: inline-block;
            margin-bottom: 8px;
        }

        .highlighted {
            background: $neon;
            padding: 0 2px;
        }
        border-bottom: 1px solid $gray2;

        &:last-child {
            border: none;
        }
    }
}

